modules = ["python-3.11", "nodejs-24"]
[nix]
channel = "stable-25_05"

[agent]
expertMode = true

[workflows]

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 3001
externalPort = 3002

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082
externalPort = 3001

[[ports]]
localPort = 8088
externalPort = 3003

[deployment]
deploymentTarget = "autoscale"
run = ["pnpm", "--filter", "@workspace/api-server", "run", "start"]
build = ["pnpm", "run", "build"]

[userenv]

[userenv.shared]
NAGAD_NUMBER = "01635439623"
EMAIL_FROM = "ciobanuceban@gmail.com"
SMTP_HOST = "smtp.gmail.com"
SMTP_PORT = "587"
SMTP_USER = "ciobanuceban@gmail.com"
